@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(
        -10rem
      ); /* moves to 100px left from original position */
    }
  
    80% {
      transform: translateX(1rem); /*moves to 10px right from original position*/
    }
  
    100% {
      opacity: 1;
      transform: translate(0); /* comes back to the original position */
    }
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(
        10rem
      ); /* moves to 100px left from original position */
    }
  
    80% {
      transform: translateX(-1rem); /*moves to 10px right from original position*/
    }
  
    100% {
      opacity: 1;
      transform: translate(0); /* comes back to the original position */
    }
  }
  
  @keyframes moveInButton {
    0% {
      opacity: 0;
      transform: translateY(
        3rem
      ); /* moves to 100px left from original position */
    }
  
    100% {
      opacity: 1;
      transform: translate(0); /* comes back to the original position */
    }
  }